POLYMARKET_API_KEY=your_polymarket_api_key
POLYMARKET_SECRET=your_polymarket_secret
POLYMARKET_PASSPHRASE=your_polymarket_passphrase
POLYMARKET_FUNDER_ADDRESS=0x0000000000000000000000000000000000000000
BINANCE_API_KEY=
WEBHOOK_URL=
POLYMARKET_LIVE_ENABLED=false

